.menu {
    background-color: #f1f1f1;
    width: 500px; /*Ширина меню*/
}


.menu li:hover {
    background-color: #f87777;
    cursor: pointer; /*Курсор при наведении в указатель*/
    color: #f8f8f8;
}

.menu li {
    display: inline-block; /*Расположение элементов горизонтально*/
    vertical-align: top;
    padding: 15px;
    color: #6f6d6d;
}

.menu ul {
    padding: 0px;
}

.menu li a {
    text-decoration: none; /*Убрать подчеркивание у ссылок*/
}

.menu li a:hover {
    font-style: italic;
    color: chartreuse;
    text-decoration: none;
  
}